
body {
  background:  #00E5FF;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.container{
  width: 720px;
  margin: 5em auto;
  padding: 50px;
  background-color: #fff;
  border-radius: 1em;
}

@media (max-width: 700px) {
  body {
    background-color: #fff;
  }
  div {
    width: auto;
    margin: 0 auto;
    border-radius: 0;
    padding: 1em;
  }
}

h1 {
  text-align: center;
  padding: 0;
  margin: 0;
  color: darkgrey;
  font-size:3em;
}

form {
  text-align: center;
}

#search-bar {
  width: 40%;
  text-align: center;
  color: grey;
}

.button {
  border: none;
  background-color: #0CA9E8;
  color: white;
  margin-top: 3%;
  width: 20%;
}

.button:hover {
  border: none;
  background-color: #0087FF;
  color: white;
  margin-top: 3%;
  width: 20%;
}

.bar {
  fill: steelblue;
}

.chart {

}

.bar-group text {
  fill: white;
  font: 12px sans-serif;
}

.axis text {
  font: 20px sans-serif;
  fill: darkgrey;
}

.axis path,
.axis line {
  fill: none;
  stroke: darkgrey;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.bar2 {
  fill: #0CA9E8;
}
