.container {
  margin: 0 7%;
  border: 1px solid green;
  height: auto;
}

form {

  margin-left: 43% ;
  border: 20px solid #D97762;


}



#search-bar {
  height: 33px;
  width: 40%;
  margin-top: 50%;
  text-align: center;
}

.button {
  margin-left: 10%;
  background-color: #0093A7;
  border: none;
  margin-top: 5%;
  height: 40px;
  width: 20%;
  color: white;
  border-radius: 7px;
}

body {
  background-color: #F2B441;
}
