<div class="container">

  <svg class="chart frequency-chart"></svg>
  <svg class="chart avg-score-chart"></svg>

  <div id="search">
    <form>
      <input id="search-bar" type="search" name="search" value="What are you looking for?"><br>
      <input type="submit" value="Search" class="button">
    </form>
  </div>
</div>




<!-- <form class="form">
  <label for="search">Search</label>
  <input id="search" type="search" placeholder="Search" name="search">
  <button type="submit" id="search" class="pure-button pure-button-primary">Search</button>
</form> -->


