    <img id = "logo" src="/images/logo.png" alt="Reddit Visualizer" />

 <!-- <div class="line"></div> -->
<div class="container">
<h1>Search Words</h1>
<div id="arrow" class="arrow"><i class="fa fa-arrow-down"></i></div>
<div class="loader">Loading...</div>

 <ul class="tabs">
      <li class="active"><a href=".total-frequency">Total Frequency</a></li>
      <li><a href=".average-score">Average Score</a></li>
    <li><a href=".hours-posted">Hours Posted</a></li>
</ul>

<div class="chart">
  <div class="total-frequency">
    <h4>Total Frequency</h4>
    <svg class="chart frequency-chart"></svg>
  </div>
  <hr id="hide">
  <div class="average-score">
    <h4>Average Score</h4>
    <svg class="chart avg-score-chart"></svg>
  </div>
  <div class="hours-posted">
  <h4>Hours Posted</h4>
    <svg class="chart hours-posted-chart"></svg>
  </div>
</div>


  <div id="search">
    <form>
      <input id="search-bar" type="search" name="search" placeholder="What are you looking for?"><br>
      <input type="submit" value="Search" class="button">
    </form>
  </div>

</div>





<!-- <form class="form">
  <label for="search">Search</label>
  <input id="search" type="search" placeholder="Search" name="search">
  <button type="submit" id="search" class="pure-button pure-button-primary">Search</button>
</form> -->


